.projects__cards {
    display: grid;
    grid-template-columns: repeat(4, 254px);
    gap: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 1180px) {
    .projects__cards {
        grid-template-columns: repeat(3, minmax(210px, 100%));
    }
}