.our-team__aside {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1262px;
}

@media screen and (max-width: 1180px) {
  .our-team__aside {
    width: 100%;
  }
}