.education__inner {
  margin-top: 60px;
  display: grid;
  column-gap: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  max-width: calc(100% - 130px);
  grid-template-areas: "title img";
  grid-template-columns: 1fr 1fr;
  padding: 30px;
}

@media screen and (max-width: 1180px) {
  .education__inner {
    max-width: calc(100% - 80px);
    margin-top: 40px;
    padding: 20px;
  }
}

@media screen and (max-width: 767px) {
  .education__inner {
    margin-top: 30px;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  .education__inner {
    margin-top: 15px;
    max-width: calc(100% - 32px);
  }
}