.education__inner {
  width: 1169px;
  height: 429px;
  margin-top: 60px;
  display: grid;
  /* grid-template-columns: 674px 1fr; */
  column-gap: 30px;
 /*  row-gap: 48px; */
  border-radius: 10px;
  background-color: #fff;
  grid-template-areas:
  "title img"
  "title se";
}