.ai-research__card_systems::before {
    background-image: url(../../../../images/Robot.png);
<<<<<<< HEAD
    border-radius: 10px;
    background-position: top;
=======
    background-position: center;
>>>>>>> main
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: '';
    position: absolute;
}

.ai-research__card_systems:hover {
    background-color: #009FAC;
<<<<<<< HEAD
}

@media screen and (max-width: 767px) {
    .ai-research__card_systems::before{
        display: none;
    }
=======
>>>>>>> main
}