.education__title {
  max-width: 472px;
  max-height: 66px;
  margin-top: 80px;
  margin-bottom: 0;
  display: flex;
  align-self: center;
  color: #fff;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 68px;
  text-align: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}