.form__button {
  grid-area: button;
  min-width: 350px;
  max-height: 60px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  background: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: button;
}

.form__button:hover {
  border: 1px solid #E0F0FF;
  color: #E0F0FF;
  transition: 0.3s ease-in;
}