.our-team__text {
 /*  width: 245px; */
 font-family: 'Open Sans', Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #009FAC;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 4px;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .our-team__text {
    font-size: 12px;
    line-height: 145%;
  }
}
@media screen and (max-width: 480px) {
  .our-team__text {
    font-size: 10px;
    line-height: 14px;
  }
}