.projects__card-logo {
    height: 48px;
    align-self: flex-start;
    z-index: 3;
    transition: .3s;
}

@media screen and (max-width:1180px) {
    .projects__card-logo {
        max-height: 48px;
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .projects__card-logo {
        max-height: 26px;
    }
}