.projects__card_active {
<<<<<<< HEAD
    border-radius: 10px 0 0 10px;
    transition: .3s;
}

@media screen and (min-width: 1181px) {
    .projects__card_active:nth-of-type(2n) {
        border-radius: 0 10px 10px 0;
        transition: .3s;
    }
}

@media screen and (max-width: 1180px) {
    .projects__card_active:nth-of-type(3n) {
        border-radius: 0 10px 10px 0;   
    }
=======
    width: 540px;
>>>>>>> main
}