/*.page_content_header {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


@media (max-width: 767px) {
  .page_content_header {
      justify-content: center;
  }
}
*/
