.education__paragaph {
<<<<<<< HEAD
  width: 635px;
}
=======
  /* width: 60%; */
  display: grid;
  justify-items: start;
  align-items: center;
  justify-content: center;
  grid-area: title;
}
@media screen and (max-width: 767px) {
    .education__paragaph {
     /*  max-width: calc(100% - 320px); */
    }
  }
>>>>>>> main
