.header__button-burger {
    padding: 0;
    background-color: inherit;
    width: 20px;
    border: none;
    display: none;
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;

}

@media screen and (max-width: 1023px) {
    .header__button-burger  {
       display: block;
       align-self: center;
       left: 41px;
    }
}

.header__button-burger:active { 
    transform: none;
  }

