.education__tab_a {
  width: 270px;
  max-height: 60px;
  display: flex;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;
  border-radius: 10px;
}