.header__nav-bar {
    box-sizing: border-box;

}

@media (max-width: 1023px) {
    .header__nav-bar {
       position:absolute;
       top: 0;
       left: 0;
       box-sizing: border-box;
       width: 100%;
       max-width: 330px;
       min-height: 492px;
       flex-direction: column;
       z-index: 100;
       transform: translate(-100%, 0);
       transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
  }
  