.our-team__list {
  width: 1110px;
  height: 100%;
  margin: 0 auto;
/*   display: grid;
  grid-template-columns: 1fr 60%;
  gap: 30px; */
  align-items: center;
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
@media screen and (max-width: 1180px) {
  .our-team__list {
    display: grid;
    grid-template-columns: 1fr 3fr 42%;
    gap: 30px;
    max-width: calc(100% - 160px);
  }
}
@media screen and (max-width: 767px) {
  .our-team__list {
    grid-template-columns: 1fr 2fr;
  }
}