.our-team__list {
  width: 1110px;
  height: 100%;
  align-items: center;
  margin: 30px 0 0 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 1180px) {
  .our-team__list {
    overflow: auto;
    max-width: 100%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0;
  }
}