.card__description {
    margin: 0;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    
}

@media (max-width: 460px) {
    .card__description  {
        font-size: 12px;
        line-height: 16px;

    }
  }