.projects__card-button {
    background-color: #FFFFFF;
    background-image: url(../../../images/arrow-emerald-right.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    box-shadow: 0px 4px 20px rgb(1 54 157 / 15%);
    border-radius: 36px;
    border: none;
    width: 40px;
    height: 40px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 6;
    transition: .3s;
}

@media screen and (max-width: 1180px) {
    .projects__card-button {
        width: 32px;
        height: 32px;
    }
}