.projects__card-link {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #001337;
    text-decoration: none;
}

@media screen and (max-width: 1180px) {
    .projects__card-link {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.1px;
    }
}

@media screen and (max-width: 767px) {
    .projects__card-link {
        display: none;
    }
}