.publications__list {
    max-width: 1104px;
    padding: 0;
    list-style: none;
    margin: 0 18px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 348px);
    grid-column-gap: 30px;
}

@media screen and (max-width: 1020px) {
.publications__list {
    gap: 17px 20px;
    max-width: 690px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: ;
    grid-column-gap: 30px;

    }
}

@media screen and (max-width: 767px) {
    .publications__list {
        grid-template-columns: 1fr;
        }
    }