.card__article {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    background-color: inherit;
    z-index: 1;
    padding-bottom: 30px;
    border-radius: 0 10px 10px 10px;

}

