.ai-research__card-title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #001337;
    margin: 0;
    padding: 0 0 50px 0;
}