.footer__description-copyright {
	color: #FFFFFF;
	font-family: 'Open Sans', Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	margin: 0 0 30px;
}

.footer__description-copyright:last-of-type {
	margin: 0;
}

@media screen and (max-width: 1180px) {
	.footer__description-copyright {
		font-size: 12px;
		line-height: 20px;
	}
}