.education__tab_b {
  width: 270px;
<<<<<<< HEAD
  max-height: 60px;
  display: flex;
  font-family: Open Sans;
=======
  height: 60px;
  display: flex;
>>>>>>> main
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-align: center;
<<<<<<< HEAD
  border-radius: 10px;
=======
  justify-content: center;
  cursor: pointer;
  background: #E0F0FF;
  border: 1px solid #E0F0FF;
  box-sizing: border-box;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
 /*  z-index: 2;
  transform: translateX(-5px) */
}
@media screen and (max-width: 767px) {
  .education__tab_b {
    font-size: 14px;
    line-height: 19px;
  }
}
@media screen and (max-width: 767px) {
  .education__tab_b {
    font-size: 12px;
    line-height: 16px;
  }
>>>>>>> main
}