.education__tab_b {
  width: 270px;
  height: 60px;
  display: flex;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  background: #E0F0FF;
  border: 1px solid #E0F0FF;
  box-sizing: border-box;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}