.header__button {
    width: 20px;
    display: none;
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;

}


@media screen and (max-width: 1023px) {
    .header__button  {
       display: block;
       align-self: center;
       left: 41px;
    }
}

.header__button:active {
  {
    transform: none;
  }
}
