.about__title {
    margin: 0;
    max-width: 472px;
    color: #fff;
    font-size: 36px;
    line-height: 68px;
<<<<<<< HEAD
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 1023px) {
    .about__title {
        font-size: 24px;
        line-height: 32px;

    }
  }

  @media (max-width: 460px) {
    .about__title {
        width: 288px;
        font-size: 16px;
        line-height: 21px;

    }
  }
=======
}
>>>>>>> main
