.ai-research__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 80px;
    gap: 30px;
}

@media screen and (max-width: 1180px) {
    .ai-research__columns {
        padding-bottom: 40px;
    }
}