.form__input {
  background: #FFFFFF;
  border-radius: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #009FAC;
  border: none;
  box-sizing: border-box;
  padding-left: 20px;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
.form__input::placeholder {
  color: #009FAC;
  font-family: "Open Sans";
}
 
/* Internet Explorer 10-11 */
.form__input:-ms-input-placeholder {
  color: #009FAC;
}
 
/* Microsoft Edge */
.form__input::-ms-input-placeholder {
  color: #009FAC;
}

.form__input:focus {
  background: #eaeaea;
}