.ai-research__card-description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #001337;
    margin: 0;
    padding-bottom: 50px;
}