.about__list {
    list-style: none;
    padding: 0;
    margin: 0 21px 26.5px 13px;
    max-width: 1122px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 348px);
    justify-content: center;
    grid-column-gap: 32px;
    z-index: 1;
}

@media screen and (max-width: 767px) {
    .about__list {
        gap: 17px 20px;
        }
    }
@media screen and (max-width: 767px) {
    .about__list {
        grid-template-columns: 1fr;
        }
    }