.link_active {
    position: relative;
}

.link_active::after {
    display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    top: 0;
	width: 0;/*задаём длину линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #009FAC;
    ; /*задаём цвет линии*/
	content: "";
	transition: width 0.4s ease-out; /*задаём время анимации*/
}

.link_active:hover:after,
.link_active:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}