.home-screen {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-top: 92px;
    border: 0;
    background-image: url(../../images/home-screen.png);
    background-size: cover;
    background-position: center;
}

@media (max-width: 1023px) {
    .home-screen {
        justify-content: flex-start;
        padding-right: 0;
        padding-left: 39px;
        padding-top: 58px;
    
    }
  }

  @media (max-width: 460px) {
    .home-screen {
        flex-direction: column;
        align-items: center;
        padding-top:30px ;
        padding-left: 0;
    }
  }