.home-screen {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-top: 92px;
    padding-right: 165px;
    border: 0;
    background-image: url(../../images/home-screen.png);
    background-size: cover;
}