.education__link {
  max-width: 920px;
  max-height: 150px;
  margin-top: 30px;
  margin-bottom: 0;
  display: flex;
  color: #fff;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}