.our-team__control-right {
  transform: rotate(180deg);
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: #001337;
  background: url(../../../images/arrow-down.svg) center no-repeat;
  box-shadow: 1px 1px 10px rgb(224 240 255 / 10%);
  cursor: pointer;
}