.home-screen__button {
    color: #fff;
    background-color: transparent;
    width: 350px;
    border: solid 1px #fff;
    border-radius: 5px;
    height: 60px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 124px;
    cursor: pointer;
}