.education__tab {
  max-width: 540px;
  height: 60px;
  margin: 35px 0 80px 0;
  display: flex;
  border-radius: 10px;
  z-index: 0;
  transform: translateX(-5px)
}
@media screen and (max-width: 767px) {
  .education__tab { 
    margin-top: 35px;
  }
}
@media screen and (max-width: 767px) {
  .education__tab {
    max-width: calc(100% - 160px);
  }
}
@media screen and (max-width: 740px) {
  .education__tab {
    max-width: calc(100% - 32px);
  }
}