.footer__list {
  margin-bottom: 10px;
  font-family: 'Open Sans', Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #FFF;
}

.footer__list:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
	.footer__list {
		font-size: 12px;
		line-height: 20px;
	}
}