.card__arrow {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('../../../images/arrow_card.svg') center no-repeat;
    background-size: 24px 24px;
    cursor: pointer;
}