.education__img {
  min-height: 364px;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  border-radius: 10px;
  grid-area: img;
}

@media screen and (max-width: 1180px) {
  .education__img {

  }
}
@media screen and (max-width: 767px) {
  .education__img {
    min-height: 284px;
  }
}