.education__img {
  width: 445px;
  height: 364px;
  background-image: url(../../../images/image\ 43.jpg);
  object-fit: cover;
  border-radius: 10px;
  grid-area: img;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}