.about__subtitle {
    margin: 0 0 45px 0;
    color:#fff;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    max-width: 907px;
<<<<<<< HEAD
}

@media (max-width: 460px) {
    .about__subtitle {
        width: 288px;
        font-size: 12px;
        line-height: 16px;

    }
  }
=======
}
>>>>>>> main
