.about__subtitle {
    margin: 0 0 45px 0;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    max-width: 907px;
}

@media (max-width: 1023px) {
    .about__subtitle {
        max-width: 690px;
    }
}

@media (max-width: 760px) {
    .about__subtitle {
        width: calc(100% - 32px);
        font-size: 12px;
        line-height: 16px;
    }
}