.ai-research__card-button {
    width: 215px;
    height: 40px;
    left: 0px;
    top: 340px;
    border: 1px solid #001337;
    box-sizing: border-box;
    border-radius: 10px;
    background: transparent;
}