.partners__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  max-width: 1110px;
}

@media screen and (max-width: 1180px) {
  .partners__content {
    max-width: 690px;;
  }
}