.education__paragaphs {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #000D26;
    
}