.card {
    position: relative;
    max-width: 348px;
    padding: 20px 20px 30px;
    background-color: #E0F0FF;
    border-radius: 10px;

}

.card:hover  .card__article{
    transform: translate();
}

.card:hover  .card__img {
    height: 158px;
}