.card {
    position: relative;
    max-width: 348px;
    padding: 20px 20px 30px;
    background-color: #E0F0FF;
    border-radius: 10px;
    transition: top .7s linear;

}

.card:hover  .card__article{
    top: -70px;
}
