.popup__text {
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1px;
    margin-bottom: 25px;
}

.popup__text:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1180px) {
    .popup__text  {
        font-size: 14px;
        line-height: 19px;
    }
}

@media screen and (max-width: 767px) {
    .popup__text  {
        display: none;
    }
}